{% extends 'base.html' %}

{% block title %}
שאלות נפוצות
{% endblock title %}

{% block content %}
<div class="container">
    <div class="accordion accordion-flush" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                    איך זה עובד?
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    הרעיון הוא לעזור לכל סטודנט להעריך כמה קשים/עמוסים קורסים שעוד לא עשה לפי דירוגים שלו לקורסים
                    שכבר עשה, בהתבסס על דירוגים של אנשים יחסית "דומים" לו. זאת אומרת שכשתקבלו חיזוי עבור קורס
                    מסויים, המערכת תחפש אנשים עם דירוגים דומים לשלכם שדירגו את אותו קורס ותשתמש בדירוגים שלהם כך
                    שכמה שמישהו "דומה" לכם יותר, כך הדירוג שלו ישפיע יותר.
                    <br>
                    לקריאה נוספת:
                    <a target="_blank" rel="noopener noreferrer" href="https://he.wikipedia.org/wiki/%D7%A1%D7%99%D7%A0%D7%95%D7%9F_%D7%A9%D7%99%D7%AA%D7%95%D7%A4%D7%99">
                    he.wikipedia.org/wiki/סינון_שיתופי
                    </a>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                        aria-expanded="true" aria-controls="collapseTwo">
                    כמה זה מדוייק?
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse collapse" aria-labelledby="headingTwo"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    ברגע שיהיו מספיק דירוגים, יתפרסמו מדדים של רמת הדיוק. כמובן שהדירוגים שהמערכת חוזה לא מחייבים
                    אבל ברוב המקרים צריכים להיות דומים למציאות.
                    <br>
                    ככל שיותר אנשים ירשמו וידרגו קורסים בצורה איכותית, כך הדיוק ישתפר!
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                        aria-expanded="true" aria-controls="collapseThree">
                    אני מתחיל סמסטר שני ועוד לא עשיתי 8 קורסים, למה אני לא יכול לקבל חיזוי?
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse collapse" aria-labelledby="headingThree"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    החיזוי מתבסס על דירוגים שלך, ודירוג של אנשים דומים לך. אם יש לך פחות מ8 קורסים הדירוג לא יהיה
                    מספיק מדוייק ולכן יכול להטעות אותך, זאת לא המטרה.
                    <br>
                    במקום לקבל חיזוי, תוכל לראות את ממוצע הדירוגים של קורסים, שזה גם מדד לא רע.
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                        aria-expanded="true" aria-controls="collapseFour">
                   אני אקבל חיזוי לכל הקורסים בטכניון?
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse collapse" aria-labelledby="headingFour"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  לא, כדי לקבל חיזוי לקורס, חייבים להיות מספיק אנשים "דומים" לך שדירגו את אותו קורס, אחרת
                  החיזוי יהיה לא מדוייק. לכן סביר להניח שלקורסים מהפקולטה שלך יהיה לך חיזוי, כי עשו אותם אנשים שעשו קורסים משותפים איתך.
                  אבל לקורסים ש"רחוקים" מהפקולטה שלך יכול להיות שלא יהיה חיזוי. במקרה זה יוצג הממוצע דירוגים של אותו קרוס במערכת, שהוא גם חיזוי לא רע.
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
                        aria-expanded="true" aria-controls="collapseFive">
                    למה אני צריך להזין את הפקולטה, מסלול נקודות זכות וסמסטר בהרשמה? על מה זה משפיע?
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse collapse" aria-labelledby="headingFive"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  לא חובה להזין את הפרטים האלה בהרשמה, אבל מומלץ לעשות זאת. <br>
                  כרגע אנחנו לא עושים בזה שימוש, אבל אנחנו אוספים אותו בשביל שימוש אפשרי עתידי ואולי
                  נעזר בו כדי לשפר את אלגוריתם החיזוי
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
                        aria-expanded="true" aria-controls="collapseSix">
          למה בדירוג של כל קורס צריך להזין את הציון?
                </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse collapse" aria-labelledby="headingSix"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  הזנה של ציון היא לא חובה.
                  <br>
                  בדיוק כמו חלק מהפרטים בהרשמה, אולי נעשה שימוש עתידי בפרטים אלה לשיפור החיזוי.
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSeven">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven"
                        aria-expanded="true" aria-controls="collapseSeven">
                    למי אתם מוכרים את המידע שאתם אוספים עלי?
                </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse collapse" aria-labelledby="headingSeven"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    אנחנו לא עושים שום שימוש במידע מעבר לסטטיסטיקות וחישובים מאחורי הקלעים,
                    אין לנו כוונה למסור את המידע לאף אחד בשום שלב.
                    נציין שאנחנו לא לוקחים אחראיות על דליפה של מידע בגלל בעיות אבטחה או נסיונות פריצה,
                    לכן מומלץ לא להשתמש בסיסמת המייל שלכם או כל סיסמא שאתם משתמשים בה במקום אחר.
                </div>
            </div>
        </div>


        <div class="accordion-item">
            <h2 class="accordion-header" id="headingEight">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight"
                        aria-expanded="true" aria-controls="collapseEight">

                  אתם צריכים לתת עוד אפשריות כמו
                  לתת ביקורות עם מלל על קורסים ולתת דירוגים על עוד דברים כמו קושי מבחן
                </button>
            </h2>
            <div id="collapseEight" class="accordion-collapse collapse collapse" aria-labelledby="headingEight"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">חלק מהתכונות מתוכננות לעתיד, אחרי שהקוסנפט יתחיל לעבוד.
                  כרגע אופן הדירוג נשמר פשוט בכוונה - מספיק קשה לדרג נכון את כל הקורסים מתחילת התואר.
                  תכונות כמו לתת ביקורת עם מלל על קורסים קיימות כבר
                  ב-
                   <a target="_blank" rel="noopener noreferrer" href="https://cheesefork.cf/">cheesefork</a>
                  ואין טעם ליצור כפילות.
                </div>
            </div>
        </div>


  </div>
</div>
{% endblock content %}
