{% extends "base.html" %}

{% block title %}
התחברות
{% endblock title %}

{% block content %}

{% if form.errors %}
<p>שם משתמש או סיסמא שגוים, נסה שנית.</p>
<p>
יכול להיות שלא אישרת את ההרשמה דרך המייל הטכניוני שהזנת בהרשמה,
   . אם אתה לא מצליח מוזמן לפנות דרך "צור קשר" עם כמה שיותר פרטים
</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>התחבר כדי לצפות בדף זה</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>שם משתמש: </td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>סיסמא: </td>
    <td>{{ form.password }}</td>
</tr>
</table>
<button class="btn waves-effect waves-left" type="submit" value="login">
    התחבר
<i class="material-icons left">keyboard_return</i>
</button>

<input type="hidden" name="next" value="{{ next }}">
</form>

<p><a href="{% url 'register' %}">אני צריך להרשם</a></p>
<p><a href="{% url 'password_reset' %}">וואלה שחכתי סיסמא</a></p>

{% endblock content%}