{% extends 'base.html' %}

{% block title %}
     {{course.number_string}} {{course.name}}
{% endblock title %}

{% block content %}
<div class="container">
    <h3>מידע כללי</h3>
    <table class="table table-hover table-light">
            <tr>
                <td style="width:20%" >סילבוס (UG):</td>

                <td style="width:80%">{{course.info}}</td>
            </tr>
            <tr>
                <td>נקודות זכות:</td>
                <td style="text-align:right;">{{course.credit_points}}</td>
            </tr>
            <tr>
                <td>קישורים שימושיים:</td>
                <td>
                    <a class="btn btn-outline-dark" target="_blank" rel="noopener noreferrer" href="{{ug_url}}">
                        עמוד הקורס בUG
                    </a>
                    <a class="btn btn-outline-dark" href="{% url 'add_course_rating' course_number=course.number %}">
                        הוסף/ערוך דירוג
                    </a>

                </td>
            </tr>
    </table>

     {% if user_rated_course %}
        <h3>הדירוג שלך</h3>
        <table class="table table-hover table-light">
            <tr>
                <td style="width:20%">דירוג רמת קושי:</td>
                <td style="width:80%">
                    <b>{{user_rated_course.difficulty}}</b>
                </td>
            </tr>
            <tr>
                <td>דירוג רמת עומס:</td>
                <td >
                    <b>{{user_rated_course.workload}}</b>
                </td>
            </tr>
            {% if user_rated_course.final_grade %}
            <tr>
                <td>ציון סופי:</td>
                <td>
                    <b>{{user_rated_course.final_grade}}</b>
                </td>
            </tr>
            {% endif %}
        </table>
    {% endif %}

    <h3>סטטיסטיקת דירוגים</h3>
    {% if course.ratings_count == 0 %}
    <div class="alert alert-info" role="alert">
        לקורס עדיין אין דירוגים. שתפו זאת ואולי סטודנטים שעשו את הקורס יוסיפו דירוג!
    </div>
    {% else %}
    <table class="table table-hover table-light">
        <tr>
            <td style="width:20%">מספר דירוגים:</td>
            <td style="width:80%">
                {{course.ratings_count}}
            </td>
        </tr>
        <tr>
            <td style="width:20%">דירוג קושי ממוצע במערכת:</td>
            <td style="width:80%" dir="ltr">
                <div class="progress" style="height: 120%; font-size:120%;">
                    <div class="progress-bar progress-bar-striped bg-info text-dark" role="progressbar" style="width: {{ avg_diff_100 }}%;"
                       aria-valuenow="{{course.average_difficulty | floatformat:2}}" aria-valuemin="0" aria-valuemax="10">
                        <b>{{course.average_difficulty | floatformat:2}}</b>
                    </div>
                </div>

            </td>
        </tr>
        <tr>
            <td>דירוג עומס ממוצע במערכת:</td>
            <td>
                <b>{{course.average_workload | floatformat:2}}</b>
            </td>
        </tr>

        <!-- TBD:
        <tr>
            <td>היסטוגרמת דירוגים</td>
            <td>
                צפיה בהיסטוגרמה
            </td>
        </tr>
        -->
    </table>
    {% endif %} <!-- end to if no rankings -->




            {% if not user_estimable %}
            <tr>
                <td style="text-align:right;">דירוג קושי ממוצע במערכת:</td>
                <td style="text-align:right;">
                    <b>
                    {{course.average_difficulty | floatformat:2}}
                    </b>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">דירוג עומס ממוצע במערכת:</td>
                <td style="text-align:right;">
                    <b>{{course.average_workload | floatformat:2}}</b>
                </td>
            </tr>
            <tr>
                <td>
                    (לפי
            {{course.ratings_count}}
            דירוגים)
                </td>
            </tr>
            {% endif %}

            {% if user_rated_course %}
            <tr><td></td></tr>
            <b>
            <tr>
                <td style="text-align:right;">דירוג רמת קושי:</td>
                <td style="text-align:right;">
                    <b>{{user_rated_course.difficulty}}</b>
                    <p style="font-size:70%">(לפי הדירוג שלך)</p>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">דירוג רמת עומס:</td>
                <td style="text-align:right;">
                    <b>{{user_rated_course.workload}}</b>
                    <p style="font-size:70%">(לפי הדירוג שלך)</p>

                </td>
              </tr>
            </b>
            {% endif %}
    </table>
</div>
{% if not user_rated_course %}
<h4>
    <u>    חיזוי קושי/עומס של הקורס עבורך:</u>
</h4>
{% endif %}
<ul>
{% if user_authenticated and user_estimable and not user_rated_course %}
    {% if not estimate %}
        <li>
        <a href="{% url 'course_estimate' course_number=course.number estimate=1 %}">
            <button id="estimate" onclick="showLoadingBar()" class="btn waves-effect waves-left">
                קבל חיזוי
                <i class="material-icons left">linear_scale</i>
            </button>
        </a>
        </li>
        <div id="LoadingBar" class="container" style="display:none;">
            <h6>טוען...</h6>
            <div class="progress">
              <div class="indeterminate"></div>
            </div>
        </div>
        <script>
        function showLoadingBar() {
          document.getElementById("estimate").disabled = true;
          document.getElementById("LoadingBar").style.display = "block";
        }
        </script>
    {% else %}
        <p>
            {% if was_impossible %}
                לא ניתן לחזות קושי ועומס עבור הקורס כי אין מספיק אנשים עם דירוגים משותפים שלך שדירגו אותו.
                מציג דירוגים ממוצעים.
                <br>
            <b>
                קושי ממוצע במערכת: {{course.average_difficulty | floatformat:2}}
                <br>
                עומס ממוצע במערכת: {{course.average_workload | floatformat:2}}
            </b>
            <br>
                    (לפי
            {{course.ratings_count}}
            דירוגים)
            {% else %}
                קושי משוערך:
                {{est_diff | floatformat:2}}
                <br>
                עומס משוערך:
                {{est_wload | floatformat:2}}
            {% endif %}
            <br>
            <!--
            זמן חישוב:
            {{calc_time}}
            -->
        </p>
    {% endif %}


{% elif user_authenticated and not user_estimable %}
    <h5>כדי לחזות רמת עומס/קושי של קורס עליך לדרג לפחות 8 קורסים. עם פחות מזה החיזוי לא מספיק טוב. אם עוד לא עשית 8 קורסים הדירוג הממוצע הוא מדד דיי טוב בנתיים! </h5>
{% elif not user_authenticated %}
    <h5>כדי לחזות רמת עומס/קושי של קורס עליך להתחבר או להרשם ולדרג קורסים. בנתיים מוצג רק דירוג ממוצע במערכת.</h5>
{% endif %}
</ul>
{% endblock content %}