{% extends 'base.html' %}

{% block title %}
עריכת הדירוג ל-
{{course_name_and_number}}
{% endblock title %}

{% block content %}

<form method="post">
    {% csrf_token %}
        <ul>
            <li>
                {{ form.difficulty.label}}
                <p class="range-field" dir="ltr">
                {{ form.difficulty}}
                </p>
                <br>
            </li>

            <li>
                {{ form.workload.label}}
                <p class="range-field" dir="ltr">
                {{ form.workload}}
                </p>
                <br>
            </li>

            <li>
                {{ form.final_grade.label}}
                <p dir="ltr">
                {{ form.final_grade}}
                </p>
            </li>


        <li>
            <button class="btn waves-effect waves-left" type="submit" name="action">שמור
            <i class="material-icons left">save</i></button>
        </li>
        </ul>
    </p>


</form>

{% endblock %}