{% extends 'base.html' %}

{% block title %}
שאלות נפוצות
{% endblock title %}

{% block content %}
<div class="card cyan lighten-4">
    <div class="card-content black-text">
      <span class="card-title">
          איך זה עובד?
      </span>
      <p>
          הרעיון הוא לעזור לכל סטודנט להעריך כמה קשים/עמוסים קורסים שעוד לא עשה לפי דירוגים שלו לקורסים
          שכבר עשה, בהתבסס על דירוגים של אנשים יחסית "דומים" לו. זאת אומרת שכשתקבלו שערוך עבור קורס
          מסויים, המערכת תחפש אנשים עם דירוגים דומים לשלכם שדירגו את אותו קורס ותשתמש בדירוגים שלהם כך
          שכמה שמישהו "דומה" לכם יותר, כך הדירוג שלו ישפיע יותר.
          <br>
          לקריאה נוספת:
          <a href="https://he.wikipedia.org/wiki/%D7%A1%D7%99%D7%A0%D7%95%D7%9F_%D7%A9%D7%99%D7%AA%D7%95%D7%A4%D7%99">
              he.wikipedia.org/wiki/סינון_שיתופי
          </a>
      </p>
    </div>
</div>

<div class="card cyan lighten-4">
    <div class="card-content black-text">
      <span class="card-title">
          כמה זה מדוייק?
      </span>
      <p>
          ברגע שיהיו מספיק דירוגים, יתפרסמו מדדים של רמת הדיוק. כמובן שהדירוגים שהמערכת משערכת לא מחייבים
          אבל ברוב המקרים צריכים להיות דומים למציאות.
          <br>
          ככל שיותר אנשים ירשמו וידרגו קורסים בצורה איכותית, כך הדיוק ישתפר!
      </p>
    </div>
</div>

<div class="card cyan lighten-4">
    <div class="card-content black-text">
      <span class="card-title">
          אני מתחיל סמסטר שני ועוד לא עשיתי 8 קורסים, למה אני לא יכול לקבל שערוך?
      </span>
      <p>
            השערוך מתבסס על דירוגים שלך, ודירוג של אנשים דומים לך. אם יש לך פחות מ8 קורסים הדירוג לא יהיה
          מספיק מדוייק ולכן יכול להטעות אותך, זאת לא המטרה.
          <br>
          במקום לקבל שערוך, תוכל לראות את ממוצע הדירוגים של קורסים, שזה גם מדד לא רע.
      </p>
    </div>
</div>


<div class="card cyan lighten-4">
    <div class="card-content black-text">
      <span class="card-title">
          אני אקבל שערוך לכל הקורסים בטכניון?
      </span>
      <p>
          לא, כדי לקבל שערוך לקורס, חייבים להיות מספיק אנשים "דומים" לך שדירגו את אותו קורס, אחרת
          השערוך יהיה לא מדוייק. לכן סביר להניח שלקורסים מהפקולטה שלך יהיה לך שערוך, כי עשו אותם אנשים שעשו קורסים משותפים איתך.
          אבל לקורסים ש"רחוקים" מהפקולטה שלך יכול להיות שלא יהיה שערוך. במקרה זה יוצג הממוצע דירוגים של אותו קרוס במערכת, שהוא גם שערוך לא רע.
      </p>
    </div>
</div>

<div class="card cyan lighten-4">
    <div class="card-content black-text">
      <span class="card-title">
          למה אני צריך להזין את הפקולטה, מסלול נקודות זכות וסמסטר בהרשמה? על מה זה משפיע?
      </span>
      <p>
          לא חובה להזין את הפרטים האלה בהרשמה, אבל מומלץ לעשות זאת. <br>
          כרגע אנחנו לא עושים בזה שימוש, אבל אנחנו אוספים אותו בשביל שימוש אפשרי עתידי ואולי
          נעזר בו כדי לשפר את אלגוריתם השערוך
      </p>
    </div>
</div>

<div class="card cyan lighten-4">
    <div class="card-content black-text">
      <span class="card-title">
          למה בדירוג של כל קורס צריך להזין את הציון?
      </span>
      <p>
          הזנה של ציון היא לא חובה.
          <br>
          בדיוק כמו חלק מהפרטים בהרשמה, אולי נעשה שימוש עתידי בפרטים אלה לשיפור השערוך.
      </p>
    </div>
</div>

<div class="card cyan lighten-4">
    <div class="card-content black-text">
      <span class="card-title">
          למי אתם מוכרים את המידע שאתם אוספים עלי?
      </span>
      <p>
          אנחנו לא עושים שום שימוש במידע מעבר לסטטיסטיקות וחישובים מאחורי הקלעים,
          אין לנו כוונה למסור את המידע לאף אחד בשום שלב.
          נציין שאנחנו לא לוקחים אחראיות על דליפה של מידע בגלל בעיות אבטחה או נסיונות פריצה,
          לכן מומלץ לא להשתמש בסיסמת המייל שלכם או כל סיסמא שאתם משתמשים בה במקום אחר.
      </p>
    </div>
</div>

<div class="card cyan lighten-4">
    <div class="card-content black-text">
      <span class="card-title">
          אתם צריכים לתת עוד אפשריות כמו
          לתת ביקורות עם מלל על קורסים ולתת דירוגים על עוד דברים כמו קושי מבחן
      </span>
      <p>
          חלק מהתכונות מתוכננות לעתיד, אחרי שהקוסנפט יתחיל לעבוד.
          כרגע אופן הדירוג נשמר פשוט בכוונה - מספיק קשה לדרג נכון את כל הקורסים מתחילת התואר.
          תכונות כמו לתת ביקורת עם מלל על קורסים קיימות כבר
          ב-
           <a target="_blank" rel="noopener noreferrer" href="https://cheesefork.cf/">cheesefork</a>
          ואין טעם ליצור כפילות.
      </p>
    </div>
</div>

{% endblock content %}
