{% extends 'base.html' %}

{% block title %}
ברוכים הבאים!
{% endblock title %}

{% block content %}

{% if request.user.is_authenticated %}

{% else %}
    <p>
        מומלץ
        <a href="{% url 'register' %}">להירשם</a>
        לפני שאתם מתחילים להשתמש באתר.
    </p>
{% endif %}
    <p>
         כדאי לקרוא על איך זה עובד ואיך לדרג נכון קורסים
          <a href="{% url 'instructions' %}">כאן. </a>
         ולעבור על
        <a href="{% url 'faq' %}">השאלות הנפוצות</a>.
        <br><br>
        הרעיון של האתר הוא להשתמש בדירוגים של כמה שיותר סטודנטים לקושי/עומס של קורסים כדי
        לשערך לכל סטודנט קורסים שהוא עתיד לעשות.
        <br>
        בשלב זה מתבצע איסוף של מידע, מי שידרג עכשיו קורסים יקבל גישה מוקדמת!
    </p>

<p>
    <u>עדכון 10/11/2020:</u>
    נפתחה האפשרות לקבל שערוך לקורסים! מחפשים קורס, נכנסים לעמוד הקורס ובו אפשר לקבל שערוך.
    <br>
    בשלב זה כנראה שהמערכת לא תצליח לשערך או שהשערוך לא יהיה מספיק מדוייק כי אין מספיק דירוגים במערכת.
</p>

<p>
    <u>עדכון 24/10/2020:</u>
    נוספו כ800 קורסים שהיו חסרים במערכת מסמסטר חורף תשפ"א ומסמסטרים ישנים יותר
</p>
{% endblock content %}
