{% extends 'base.html' %}

{% block title %}
ברוכים הבאים!
{% endblock title %}

{% block content %}
<p>
    <u>עדכון 24/10/2020:</u>
    נוספו כ800 קורסים שהיו חסרים במערכת מסמסטר חורף תשפ"א ומסמסטרים ישנים יותר
</p>
{% if request.user.is_authenticated %}

{% else %}
    <p>
        מומלץ
        <a href="{% url 'register' %}">להירשם</a>
        לפני שאתם מתחילים להשתמש באתר.
    </p>
{% endif %}
    <p>
         כדאי לקרוא על איך זה עובד ואיך לדרג נכון קורסים
          <a href="{% url 'instructions' %}">כאן. </a>
         ולעבור על
        <a href="{% url 'faq' %}">השאלות הנפוצות</a>.
        <br><br>
        הרעיון של האתר הוא להשתמש בדירוגים של כמה שיותר סטודנטים לקושי/עומס של קורסים כדי
        לשערך לכל סטודנט קורסים שהוא עתיד לעשות.
        <br>
        בשלב זה מתבצע איסוף של מידע, מי שידרג עכשיו קורסים יקבל גישה מוקדמת!
    </p>

{% endblock content %}
