{% extends 'base.html' %}

{% block title %}
איך מדרגים קורסים
{% endblock title %}

{% block content %}

    <p>
        המטרה של אתר זה היא לתת לכם, סטודנטים שמדרגים קורסים לפי
        קושי או עומס, שערוך של כמה קורסים אחרים יהיו קשים או עמוסים בשבילכם על סמך דירוגים של סטודנטים ש"דומים" לכם.
        האיכות של השערוך, כלומר כמה באמת הדירוגים שתקבלו לקורסים שעוד לא עשיתם יהיו נכונים תלויה בעיקר באם מספיק
        אנשים דירגו קורסים באתר, אבל גם באיכות של הדירוגים. לכן חשוב לקרוא כמה דגשים לדירוג לפני שאתם מתחילים,
        כך שהדירוג שלכם יוכל לעזור לאחרים אבל בעיקר כדי שאתם תקבלו את התוצאות הטובות ביותר .
    </p>


    <div class="collection">
        <div class="collection-item">
            <i class="material-icons secondary-content medium">priority_high</i>
            <b><u class = "secondary-content"> להשתמש בכל הסקאלה </u></b>
            <br>
                    הדירוג שנותנים לכל קורס הוא בין 1 ל10 על קושי ועומס. נכון שכמעט כל הקורסים קשים, אבל אל תדרגו את כולם
            בין 8 ל10, השתדלו "למתוח" את הדירוגים שלכם בין 1 ל10 כך שהקורס
            הכי פחות קשה יקבל ציון 1 או 2, הקורס הכי קשה יקבל 10,
            ויהיו קורסים באמצע עם דירוגים של 5-6
        </div>

        <div class="collection-item">
            <i class="material-icons secondary-content medium">priority_high</i>
            <b><u class = "secondary-content">עומס יחסית לנק"ז </u></b>
            <br>
            חשוב להתחשב בכמות הנקודות של כל קורס, כנראה שקורס של 5 נקודות יהיה יותר עמוס מקורס של 3 נקודות,
            אבל צריך להביא בחשבון בדירוג שקורס של 5 נקודות מקדם אתכם יותר בתואר ולכן צריך לנסות לדרג לפי
            "כמה עומס יש בקורס על כל נקודת זכות שהוא נותן"
        </div>

        <div class="collection-item">
            <i class="material-icons secondary-content medium">priority_high</i>
            <b><u class = "secondary-content">לדרג רק קורסים שסיימתם, כדי שתוכלו להתחשב בהכל</u></b>
            <br>דירוג רמת הקושי של קורס צריך להיות תלוי 50-50 במבחן ובקושי של הש"ב/הרצאות/תרגולים לאורך כל הסמסטר.
חשוב גם לנסות לשים את הרגש בצד ולהיות אובייקטיבי . גם אם היה לכם מרצה בעייתי או מבחן קשה מהרגיל, נסו להתחשב במבחני עבר שפתרתם כדי לתת דירוג כמה שיותר כללי לקורס, ולא ספציפי לסמסטר שלכם
        </div>
    </div>
 ~~~ להוסיף הסבר איך להכנס לקורס ולדרג ~~~
{% endblock content %}
