{% extends 'base.html' %}

{% block title %}
{{page_title}}
{% endblock title %}

{% block content %}


<div class="container-fluid mt-2">
        {% if total_credit != 0 %}
    <p>סה"כ נקודות זכות:
    {{total_credit}}</p>
    {% endif %}

    <div class="row justify-content-center">
    {% for course_rating in course_ratings %}
        <div class="col-auto mb-3">

            <div class="card h-100 bg-light secondary" style="width: 24rem;">
                <h6 class="card-header">({{course_rating.course.number_string}}) {{course_rating.course.name}}
                    <br>
                    <I>{{course_rating.course.credit_points}}
                    נק"ז</I></h6>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">רמת קושי:
                            {{course_rating.difficulty}}</li>
                    <li class="list-group-item">רמת עומס:
                            {{course_rating.workload}}</li>
                </ul>
                <div class="card-footer">
                    <a class="card-link btn" href="../course/{{course_rating.course.number}}"
                       style="color:#006064; font-size:85%">עמוד הקורס</a>
                    <a class="card-link btn" href="../edit_course_rating/{{course_rating.course.number}}"
                       style="color:#006064; font-size:85%">עריכת דירוג</a>
                    <a class="card-link btn" href="../delete_course_rating/{{course_rating.course.number}}"
                       style="color:#006064; font-size:85%">הסרת דירוג</a>
                </div>
            </div>

        </div>
    {% endfor %}
    </div>

</div>



{% endblock content %}






