{% extends 'base.html' %}

{% block title %}
{{ search_message| title }}
{% endblock title %}

{% block content %}
<div class="container-fluid mt-2">
    <div class="row justify-content-center">
        {% for course in search_results %}
        <div class="col-auto mb-3">
            <div class="card h-100 bg-light secondary" style="width: 32rem;">
                <h5 class="card-header">({{course.number_string}}) {{course.name}}</h5>
                <div class="card-body">
                    <p class="card-text">{{course.info}} </p>
                </div>

                <div class="card-footer">
                    <a class="card-link btn" href="course/{{course.number}}" style="color:#006064">לעמוד הקורס</a>
                    <a class="card-link btn" href="add_course_rating/{{course.number}}" style="color:#006064">הוסף דירוג לקורס</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}