{% extends 'base.html' %}

{% block title %}
{{ search_message| title }}
{% endblock title %}

{% block content %}
    {% for course in search_results %}
        <div class="card">
            <div class="card-content">
                <h5>{{course.name}} , {{course.number_string}}</h5>
                {{course.info}}
            </div>
            <div class="card-action">

                <a href="course/{{course.number}}" style="color:#006064">לעמוד הקורס</a>

                <a href="add_course_rating/{{course.number}}" style="color:#006064">הוסף דירוג לקורס</a>
            </div>
        </div>
    {% endfor %}
{% endblock content %}