
{% load static %}

<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>Course Recommender</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>


    {% block css %}
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css" integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous" />
    {% endblock css %}
    <!-- old:
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    -->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body dir="rtl">

<nav class="cyan darken-2">
    <div class="container nav-wrapper" dir="ltr">
        <a href="/" class="brand-logo left">Technion Course Recommender</a>
        <ul id="nav-mobile" class="right">

            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'my_courses' %}">הקורסים שלי</a>
            </li>
            {% else %}
            {% endif %}
            <li><a href="{% url 'faq' %}">שאלות נפוצות</a></li>
            <li><a href="{% url 'instructions' %}">הוראות</a></li>
            <li><a href="/">ראשי</a></li>
        </ul>
    </div>
</nav>

<nav class="cyan darken-2" dir="rtl">
    <div>
        <form class="container" action="{% url 'new_search' %}" method="post">
            {% csrf_token %}
                <ul>
                    <li style="width:10%">
                        <button class="btn waves-effect waves-left" name="action" type="submit">
                            <!--<i class="Tiny material-icons left">search</i>-->
                            חפש
                        </button>
                    </li>

                    <li style="width:79%">
                        <input type="text" name="search" placeholder="הכנס שם או מספר קורס">
                    </li>
                    <listyle="width:10%">
                        חפש קורס:
                    </li>

                </ul>
        </form>
    </div>
</nav>

<div class="container">
    <b>
        {{ user.username|default:'אורח'}}
        {% if user.is_authenticated %}
            <a href="{% url 'edit_profile' %}">(עריכת פרופיל) </a>
            <a href="{% url 'logout' %}">(התנתק)</a>
        {% else %}
            <a href="{% url 'login' %}">(התחבר) </a>
            <a href="{% url 'register' %}">(הירשם)</a>
        {% endif %}
    </b>
</div>

<div class="container">

    <div class="cyan lighten-4" style="font-size:250%; border-style: solid; border-color: grey; border-width: 1px;"">
        {% block title %}

        {% endblock title %}
    </div>

    <div class="cyan lighten-5" style="font-size:120%; border-style: solid; border-color: grey; border-width: 1px;">
        {% block content %}

        {% endblock content %}
     </div>
</div>


{% block javascript %}
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js" integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>

<script>
$(document).ready(function(){

  // Initialize materialize data picker
  $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
  $('select').formSelect();

});
</script>

{% endblock javascript %}

<!--this part is only an example :
<br><br><br><br><br><br>
    <div class="row">
        <div class="col s4">
        <div class="center">
            <i class="large material-icons" style="color: #EE6E73">flash_on</i>
            <p>Fast craigslist web scraper</p>
            <p class="light center">Scrape away right here with a beautiful GUI.</p>
        </div>
    </div>
 -->

<!-- old:
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
-->
</body>
</html>